@import '../../../breakpoints.scss';
@import 'src/variables.scss';

.get-request {
  &__cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: 100%;
    grid-gap: 20px 0;
    margin-bottom: 50px;
    @include for-pad {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 16px;
    }
    @include for-laptop-and-large {
      grid-template-columns: repeat(3, minmax(282px, 1fr));
      grid-gap: 29px;
    }
  }
  &__show-more-btn {
    width: 120px;
  }
  button[nextpage='false'] {
    display: none;
  }
}
