@import 'breakpoints.scss';
@import 'src/variables.scss';
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
body {
  background: $bacground-color-page;
  min-height: 100vh;
  color: $font-color;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
button {
  background: $primary-color;
  border-radius: 80px;
  border: none;
  min-width: 100px;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  color: $font-color;
}

button:hover {
  background: $primary-color-hover;
}
button[disabled],
button[disabled]:hover {
  background: $bacground-color-grey;
  color: $font-color-disable;
}
// .sign-up-btn {
//   padding: 4px 22px 4px 23px;
// }
// .users-btn {
//   padding: 4px 29px;
// }
.title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: $font-color;
}
