@import '../../../breakpoints.scss';
@import 'src/variables.scss';

.card {
  background: $bacground-color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  &__person-name,
  &__person-job,
  &__person-email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  &__person-name {
    margin-bottom: 20px;
  }
  &__person-email {
    // position: relative;
    // display: inline-block;
  }
  &__person-email &__person-tooltiptext {
    // visibility: hidden;
    // max-width: 304px;
    // background: rgba(0, 0, 0, 0.87);
    // border-radius: 4px;
    // padding: 3px 16px;
    // color: #fff;
    // text-align: center;
    // font-size: 16px;
    // line-height: 26px;
    // top: 100%;
    // left: 50%;

    // position: absolute;
    // z-index: 1;
  }
  &__person-email:hover &__person-tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  &__person-email:hover {
    cursor: pointer;
  }
  &__person-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
